*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

.navigation nav{
    right: 0px;
    top: 0px;
    text-align: right;
    display: block;
    width : 100%;
    background-color: grey;
    height: 60px;
    padding : 20px;

}

h3{
    color : darkred;
    position : absolute;
    font-family: snap itc regular;
    margin : 0px;
    padding : 5px;
    font-size : 35px;
    margin-left : 10px;
}

.navigation ul{
    list-style-type : none;
}

.navigation a{
    text-decoration: none;
    font-family : monospace;
    color : burlywood;
    background-color: none;
    padding : 8px;
    margin : 1px;
    font-size : 15px;
    transition-delay: 200ms;
}

a:hover{
    font-weight : bold;
    opacity: 1;
    transition-delay: 200ms;
    border-bottom: 3px solid black;
}

ul li{
    display : inline;
    
}

body{
    background-color: lightgray;
}

.about{
	position: absolute;
	top : 150px;
	left :400px;
    right: 350px;

}

h1{
    font-family: footlight mt light;
    font-size: 30px;
    margin : 10px;
    padding : 10px;
    text-align: left;
    color : midnightblue;
    border-bottom: 1px solid black;
}

p{
    font-family: footlight mt light;
    font-size: 18px;
    margin: 10px;
    padding : 10px;
    color : dimgray;
	line-height: 30px;
    
}

footer{
    width : 100%;
    margin : 0px;
    padding : 15px;
    background-color: black;
    text-align: center;
    font-family: sans-serif;
    color : white;
    position: fixed;
	margin-bottom: 0;
	top : 93%;
}

.resp{
	display: none;
}

.navigationMob{
	display: none;
}

@media only screen and (max-width: 700px){
	
	.navigation{
		display : none;
	}
	
	.resp{
		display : block;
		position : absolute;
	}
	
	h3{
		display : block;
		width: 100%;
		position : fixed;
		padding : 8px;
		background-color: gray;
		margin: 0;
		text-align: right;
		top: 0;
	}
	
	a{
		text-decoration: none;
	}
	
	.menuicon{
		display: block;
		padding : 5px;
		font-size : 25px;
		font-family : monospace;
		cursor: pointer;
		background-color: gray;
		color : black;
		text-decoration: none;
		border : 2px solid gray;
		margin-top: 5px;
	}
	
	.menuicon:hover{
		color : black;
		background-color: gray;
		border : 2px solid gray;
		box-shadow: 0 0 0 0 gray;
		
	}
	
	.navigationMob{
		margin-top: 9px;
		position: fixed;
	}
	
	.navigationMob input{
		display: block;
		width : 120px;
		padding : 5px;
		font-family: monospace;
		font-size: 15px;
		background-color: gray;
		color : burlywood;
		border : 2px solid gray;
		border-bottom: 1px solid black;
		transition-delay: 200ms;
		
	}
	
	.navigationMob input:hover{
		border : 2px solid gray;
		border-bottom : 2px solid black;
		font-weight: bold;
		box-shadow: 0 0 5px 2px gray;
		transition-delay: 200px;
		border-top: 1px solid black;
	}
	
	.about{
		left : 180px;
		right : 160px;
		top : 100px;
	}
	
	h1{
		font-size : 25px;
	}
	
	p{
		font-size: 15px;
		line-height: 25px;
	}
	
}


@media only screen and (max-width : 450px){
	.about{
		right: 50px;
		left : 100px;
	}
	
	h1{
		font-size: 22px;
	}
	
	p{
		font-size: 12px;
		line-height: 20px;
	}
}